# Unit file for BREACH External Mail Handler Service

[Unit]
Description=BREACH External Mail Handler
After=network.target

[Service]
Type=simple
ExecStart={{ exec_cmd }}
Restart=always

[Install]
WantedBy=multi-user.target
